@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

.navbar-toggler{
    color: green;
}

.navbar{
    line-height: 30px;
    padding: 10px;
}

.nav-link{
    color: black
}
