@media (min-width:768px) and (max-width:992px)
{
    .header
    {
        order: 1;
    }
    .section
    {
        width: 85%;
        order: 2;
    }

    .left
    {
        width: 100%;
        order: 4;
    }

    .right
    {
        order: 3;
    }

    .footer
    {
        order: 5;
    }
    .container
    {
        flex-wrap:wrap-reverse; 
    }
    
   
}

@media (max-width:768px)
{
    .header
    {
        order: 1;
    }

    .section
    {
        width: 100%;
        order: 2;
    }

    .left
    {
        width: 100%;
        order: 4;
    }

    .right
    {
        width: 100%;
        order: 3;
    }

    .footer
    {
        order: 5;

    }



    
}