body{
    font-family: 'Alegreya Sans SC', sans-serif;
}
.container {
    width: 70%;
    height: 80vh;
    background-color: lightblue;
    margin: 10px auto;
    border: 2px solid blue;
    padding: 30px 10px;
}

.container h1 {
    margin: 0.5em auto;
    font-size: 3.000em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}
.dot{
    color: blue;
}

#btn {
    width: 170px;
    margin: 0.5em auto;
    display: block;
    text-align: center;
    height: 50px;
    background-color: lightblue;
    border: 2px solid blue;
    font-size: 1.000em;
    font-weight: 400;
    text-transform: uppercase;
    font: inherit;
    border-radius: 20px;
    outline: none;
}
#btn:hover{
background-color: blue;
outline: none;
}

.message,
.result {
    
    background: none;
    border: none;
    border-bottom: solid 2px blue;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 10%;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 80%;
    box-sizing: border-box;
}

input[type='text']:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}