.box    
{
    width: 500px;
    height: 500px;
    background-color: #000;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto;
    position: relative;
    top: 50%; */
}

.box div
{
    color: #fff;
    position: absolute;
    visibility: hidden;
    /* left: 50%; */
    font-size: 60px;
}

.jeden, .dwa, .trzy, .cztery, .piec, .szesc, .siedem, .osiem, .dziewiec, .dziesiec, .text
{
    animation-name: animacja;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#box10
{
    
    visibility: visible
}
#box9
{
   
    animation-delay: 1s;  
}
#box8
{
    animation-delay: 2s;  
}
#box7
{
    animation-delay: 3s;  
}
#box6
{
    animation-delay: 4s;  
}
#box5
{
    animation-delay: 5s;  
}
#box4
{
    animation-delay: 6s;  
}
#box3
{
    animation-delay: 7s;  
}
#box2
{
    animation-delay: 8s;  
}
#box1
{
    animation-delay: 9s;  
}
#box12
{
    animation-delay: 10s;  
}

@keyframes animacja
{
    0%
    {
        visibility: hidden;
    }
    99%
    {
        visibility: visible;
    }
    100%
    {
        visibility: hidden;
    }
}