@media (max-width: 1024px)
{
    .portfolio-item
    {
        flex-basis: 33%;
    }
}

@media screen and (min-width:100px) and (max-width:400px)
{
    h1
    {
        /* background-color: red; */
        font-size: 1.5em;
    }
    hr
    {
        margin-top: 1px
    }
}

@media screen and (max-width:600px)
{
    nav
    {
        text-align: right;
    }
    nav ul
    {
        display: none;
    }

    .label-class
    {
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
    }
    input[type='checkbox']:checked ~ .normal-menu
    {
        display: block;
    }

    nav ul li
    {
        display: block;
        text-align: right;
    }

}

@media (min-width:100px) and (max-width:800px)
{
    section img
    {
        width: 80%;
        height: auto;
    }
}
@media (max-width:600px)
{
    .contact button
    {
        padding: 2px;
    }
}

@media (max-width:480px)
{
    .portfolio-item
    {
        flex-basis: 100%
    }
}
