body
{
    background-color: red;
}

@media (max-width:800px)
{
    body
    {
        background-color:blue;
    }
}

@media (max-width: 400px)
{
    body
    {
        background-color: yellow;
    }
}